.idea/libraries/*
.idea
*/target/*
**/target/*
log/*
logs/*
*.iml
*/*.iml
*.DS_Store

.project
.settings
*/.classpath
*/.project
*/.settings
*/.factorypath
*.gz

doc/db/*.mwb.bak
.tmp

idea
vsr
*/logs/*
.mvn

src/main/resources/output/

